﻿<!DOCTYPE html>
<!--[if IE 9]>
<html lang="es" class="no-js lt-ie10">
<![endif]-->
<!--[if IE 8]>
<html lang="es" class="no-js lt-ie9">
<![endif]-->
<html lang="es" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIGD</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,400,300,100,500' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles-main-less")
    @Styles.Render("~/bundles-css")
</head>
<body>
    <section class="row section category-section nopadding">
        <div class="section_content section_content-error">
            <div class="col-xs-6 col-xs-offset-3 error-container">
                @RenderBody()
            </div>
        </div>
    </section>
</body>
</html>
