﻿@using Agrobanco.SGM.WEB.Comun
@using Agrobanco.SGM.WEB.Helpers
@using System.Configuration


@{
    //string urlbase = ConfigurationManager.AppSettings["urlbase"];
    ResultadoObtenerModel<Usuario> usuarioSesion = (ResultadoObtenerModel<Usuario>)Session["UsuarioSCC"];
    string username = "SGM";

    if (usuarioSesion != null)
    {
        username = usuarioSesion.Model.NombreCompleto;
    }
}

<nav class="nav-horizontal">
    <div class="nav-wrapper">
        <!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
        <a id="menu-open" href="#" class="menu-open"><i class="material-icons">menu</i> </a>
        <span class="Sistema-Integrado-de hide-on-small-only"> SISTEMA DE GESTION DE MORA</span>
        <a href="#" class="brand-logo hide-on-med-and-up">
            <img src="~/Content/img/logo-principal.png" alt="login" class="responsive-img">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li>
                <a>
                    <span>@username</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Dropdown Structure -->
@*<ul id='dropdown1' class='dropdown-content'>

        <li><a href=@(VarCerrar)>Cerrar sesión</a></li>
    </ul>*@