﻿@using Agrobanco.SGM.WEB.Comun
@using Agrobanco.SGM.WEB.Helpers

@{
    string urlbase = ApplicationKeys.UrlBase;
    ResultadoObtenerModel<Usuario> usuarioSesion = (ResultadoObtenerModel<Usuario>)Session["UsuarioSCC"];
    List<Modulo> modulos = new List<Modulo>();
    if (usuarioSesion != null)
    {
        modulos = usuarioSesion.Model.ListaOpcionesMenu;
    }
}

<ul id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align">
            <div class="background">
                <img src="~/Content/img/logo-interna.png" class="responsive-img logo-mini">
                <img src="~/Content/img/logo-home.png" class="responsive-img logo">
                <i class="material-icons btn-close-sidebar"></i>
            </div>
        </div>
    </li>
    <li><div class="divider"></div></li>
    @if (modulos != null && modulos.Count > 0)
    {

        for (int i = 0; i < modulos.Count; i++)
        {
            var item = modulos[i];
            <li class="menu-li">
                @if (!string.IsNullOrEmpty(item.UrlAplicacion) || !string.IsNullOrEmpty(item.Action))
                {
                    <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">@item.TipoIconoDescripcion</i>
                        <div>
                            <div class=" ">
                                @*<span class="cssurl"> @Html.ActionLink(item.NombreOpcion.ToUpper(), item.Action, item.Controller, null, null)</span>*@
                                <span class="cssurl">
                                    @if (item.TipoOpcion == "1" || item.TipoOpcion == "2")
                                    {
                                        <a href="@item.UrlOpcion">@item.NombreOpcion.ToUpperInvariant()</a>
                                    }
                                    else
                                    {
                                        <span class="cssurl"> @Html.ActionLink(item.NombreOpcion.ToUpper(), item.Action, item.Controller, null, null)</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="collapsible-header" tabindex="0">
                        <i class="material-icons">@item.TipoIconoDescripcion</i>
                        <div>
                            @item.NombreOpcion.ToUpper()
                        </div>
                        <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
                    </div>
                    for (int e = i + 1; e < modulos.Count; e++)
                    {
                        var itemHijos = modulos[e];
                        if (itemHijos.IdRelacion != "")
                        {
                            <div class="collapsible-body " style="">
                                <span class="cssurl"> @Html.ActionLink(itemHijos.NombreOpcion.ToUpper(), itemHijos.Action, itemHijos.Controller, null, null)</span>
                            </div>
                        }
                        else
                        {
                            i = e + 1;
                            break;
                        }

                        if (e == modulos.Count - 1)
                        {
                            i = e + 1;
                        }
                    }
                }
            </li>
        }

    }
</ul>