﻿
@{
    /**/

    ViewBag.Title = "Redireccionando al login";

    var urlApp = ViewBag.UrlApp;
    var urlWebSSA = ViewBag.UrlWebSSA;
}

@Html.HiddenFor(s => urlApp)
@Html.HiddenFor(s => urlWebSSA)

<div class="col-md-12">
    <h2>Su sesión ha expirado, sera redirigido al login en <span id="segundos">3</span> segundos</h2>
</div>

<script type="text/javascript">

    var n = 3;
    var redirecciono = 0;
    var l = document.getElementById("segundos");

    window.setInterval(function () {
        if (n > 0) {
            n = n - 1;
            l.innerHTML = n;
        } else {

            if (redirecciono == 0) {
                var urlApp = $("#urlApp").val()
                var urlWebSSA = $("#urlWebSSA").val()
                location.href = urlWebSSA + "/Acceso/ValidateSesionExternal?urlApp=" + urlApp;
            }
            redirecciono = 1;
        }
    }, 1000);

</script>