﻿@*@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SIGD.Presentacion.Utilities
@using Agrobanco.SIGD.Presentacion.Models;*@

@using System.Configuration;

@{
    ViewBag.Title = "Sistema de Gestión de Mora- SGM";
}

<div class="section p-t-20 no-pad-top">
    <div class="row">
        @using (Ajax.BeginForm("Recibidos", "BandejaEntrada",
        new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "documentos-grid", LoadingElementId = "modal_loading_agro" }))
        {
            <div class="input-field input-field-common col s12 m7 disabled">
                <label class="label active" for="areaOrigen">Área de Origen </label>
                @*<input name="areaOrigen" id="areaOrigen" type="text" class="input-common" disabled value="Equipo de Tecnologias de la Información">*@
                <select name="areaOrigen">
                    @*@foreach (var item in ViewBag.ListaArea)
                        {
                            string strSelected = string.Empty;
                            if (item.CodArea == codArea)
                            {
                                strSelected = "selected";
                            }

                            <option value="@item.CodArea" @strSelected>@item.Descripcion</option>
                        }*@
                </select>
            </div>
            <div class="file-field-content input-field input-field-common col s12 m6">
                <i class="material-icons icon-suffix">attach_file</i>
                <label class="label active" for="adjuntarArchivo">Adjuntar Documento</label>
                <i class="material-icons file-field-icon on" id="btnLimpiarAdjunto">close</i>
                <div class="file-field input-field">
                    <input type="file" id="adjuntarArchivo" accept="application/pdf" name="adjuntarArchivo">
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" id="adjuntarArchivoAux">
                    </div>
                </div>
            </div>
            <div class="col s2 m2 l2 text-right">
                <button class="btn waves-effect waves-light btn-default-resize">
                    <span>Procesar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        }

    </div>
</div>

<div class="row" id="documentos-grid">
    <div class="col s12 table-listas">
        <div class="table-common table-common-mediano">
            <div class="row row-title hide-on-small-only no-pad-bot">
                <div class="col s12 m1">Estado</div>
                <div class="col s12 m1">Recibido</div>
                <div class="col s12 m2">Nro. Trámite</div>
                <div class="col s12 m1">Documento</div>
                <div class="col s12 m3">Remitente</div>
                <div class="col s12 m1">Plazo</div>
                <div class="col s12 m3">
                    <div class="row row-icons">
                        <div class="col s2">Ver</div>
                        <div class="col s2">Editar</div>
                        <div class="col s2">Derivar</div>
                        <div class="col s3">R.Avance</div>
                        <div class="col s3">Anular</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @*@Html.Partial("~/Views/Shared/ModalError.cshtml")
        @Html.Partial("~/Views/Shared/ModalOK.cshtml")
        @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")*@
</div>

@section scripts{
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
}

@*@Scripts.Render("~/Scripts/app/Servicios.js")
    @Scripts.Render("~/Scripts/app/BandejaEntradaRecibidas.js")*@