﻿@import 'variables', 'fonts', 'button', 'select', 'modal','login', 'input', 'navbar', 'sidebar','card', 'pagination', 'table', 'datepicker', 'collapsible';

body {
    font-family: 'Ubuntu';

    &.menu-open {
        overflow: hidden;

        .sidenav {
            transform: translateX(0%);
        }


        .sidenav-overlay {
            display: block;
            opacity: 1;
        }
    }
}

h1.title {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #41af4f;
    border-left: 10px solid #ffd204;
    padding-left: 10px;
    margin: 10px 0;
}

.container-detail {
    background-color: #f3f3ee;
    padding: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-t-7 {
    padding-top: 7px;
}

.h-40 {
    height: 40px;
}

.icon-suffix {
    position: absolute;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: 0.8rem;
    right: 0.6rem;
    color: #41af4f;
    font-size: 20px;
}

.icon-disabled {
    color: #9b9b9b;
}

.disabled {
    pointer-events: none;
    color: #9e9e9e;

    input, input[type=text]:not(.browser-default) {
        color: #9e9e9e;
        border-bottom: 1px dashed rgba(0,0,0,0.42);
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1200;
    display: none;
    text-align: center;

    &.on {
        opacity: 1;
        display: block;
    }

    .preloader-wrapper {
        top: 40%;
    }
}


@mixin badge($propiedad, $propiedad2) {
    background-color: $propiedad;
    color: $propiedad2;
    font-weight: bold;
}

.badge.new {
    font-size: 0.7rem!important;
}

.badge.new {
    &.badge-green {
        @include badge(#41af4f, white)
    }

    &.badge-grey {
        @include badge(#dfdfe3, black)
    }

    &.badge-pink {
        @include badge(#ff005a, white)
    }

    &.badge-blue {
        @include badge(#248ef3, white)
    }

    &.badge-yellow {
        @include badge(#f5a623, white)
    }

    &.badge-left {
        float: left;
        min-width: unset;
        padding: 0;
        margin: 0 14px 0 0;
    }
}

@mixin color($propiedad) {
    color: $propiedad;
    font-weight: bold;
}


.c-green {
    @include color(#41af4f)
}

.c-grey {
    @include color(#dfdfe3)
}

.c-pink {
    @include color(#ff005a)
}

.c-blue {
    @include color(#248ef3)
}

.c-yellow {
    @include color(#f5a623)
}

.row-strech {
    display: flex;
    align-items: stretch;
}

.icon-alert {
    width: 65px;
    height: auto;
}

.dropdown-content-button, .dropdown-content-button:hover, .dropdown-content-button:focus, .dropdown-content-button:visited {
    background-color: #f3f3ee;
    color: #c5c5ce;
    padding: 0 5px;
    border-radius: 50%;
    box-shadow: none;
}

.dropdown-content-icon {
    li > a {
        padding: 12px 7px;

        > i {
            margin: 0;
            color: #9b9bae;
            font-size: 14px;
        }

        span {
            font-size: 13px;
            letter-spacing: 0px;
            color: #9b9bae;
        }
    }
}

.card-header {
    background-color: #fefefe;
    padding: 24px 15px;

    .row {
        margin: 0;
    }

    button.btn {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
/*DV*/
.nav-short {
    height: 23px;
    line-height: 23px;
}

.row.no-pad-top, .container.no-pad-top, .container-detail.no-pad-top {
    padding-top: 0px;
}

.row.no-pad-bot, .container.no-pad-bot, .container-detail.no-pad-bot {
    padding-bottom: 0px;
}

.row.no-mar-bot, .container.no-mar-bot, .container-detail.no-mar-bot {
    margin-bottom: 0px;
}

.btn-medium {
    max-width: 180px;
}

.collapsible-body.active {
    background-color: #bda005 !important;
}

.collapsible-body.active a {
    color: white !important;
}

.no-margin {
    margin: 0px !important;
}

.table-common > .row-title > .col {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 12px;
}

.table-common > .row-title {
    border-bottom: none !important;
}

.table-common > .row > .col > .col > .new.badge {
    margin-left: 0px !important;
}

.table-common > .row {
    padding-top: 9px;
    padding-bottom: 9px;
}

a.breadcrumb::before {
    font-size: 16px;
    padding-top: 2px;
}



@media only screen and (min-width: 601px) {
    #modal-editar, #ptv-DocumentoMesaPartes, #ptv-DocumentoMesaParteseEdit, #modal-nuevo {
        max-height: 89%;
    }

    #pop-n1 {
        max-height: 93%;
    }

    #pop-n1_allwindow {
        max-height: 94%;
        width: 70%;
    }
}

.badge-small {
    height: 15px !important;
    min-width: 15px !important;
    float: left !important;
    margin-left: 5px !important;
}

.icon-detalle {
    font-size: 12px;
    top: -1px;
    position: relative;
}

.prioridad-texto-detalle {
    padding-left: 8px;
    top: -3px;
    position: relative;
}

.color-green {
    color: #41af4f !important
}

.color-pink {
    color: #ff005a !important
}

.color-blue {
    color: #248ef3 !important
}

.color-yellow {
    color: #f5a623 !important
}

.css-left {
    float: left !important;
}

.css-titulo {
    color: #4a4a4a;
}

.label {
    color: #4a4a4a
}

.card-lightblue {
    background-color: #f4f8fb;
}

.col.no-pad {
    padding: 0 !important;
}

.card-lightblue2 {
    background-color: #fafbfc;
}

.no-mar-top {
    margin-top: 0px;
}

.no-mar-bottom {
    margin-bottom: 0px;
}
.no-border{
    border:0px!important
}
.collapsible-no-border {
    border: none;
    padding: 0px;
}
.cssurl {
    text-decoration: none;
    color: white;
}
.cssurlitem {
    text-decoration: none;
    color: #bda005;
}