﻿
.table-listas {
    overflow:auto;
}
.badge-small2 {
    max-width: 26px;
}
.table-common {
    background-color: white;
    padding: 10px;
    padding-bottom: 0;
    font-family: Ubuntu;
    font-size: 13px;
    letter-spacing: 0px;
    color: #4a4a4a;

    .row.row-icons:last-child {
        padding-top: 0;
        border-bottom: none;
    }

    .row-title, .row {
        padding: 15px;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        font-family: Ubuntu;
        font-size: 13px;
        letter-spacing: 0px;
        font-weight: bold;
        color: #4a4a4a;
    }

    .row:last-child {
        margin-bottom: 0;
    }

    p, div {
        margin: 0;
        font-family: Ubuntu;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0px;
        color: #949599;

        &.title {
            font-family: Ubuntu;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #6b6c76;
        }
    }


    .new.badge {
        float: inherit;

        &.icon-badge {
            padding: 0;
            min-width: auto;
        }

        &.badge-label {
            width: 101%;
        }
    }

    .row .col {
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 601px) {
    .table-common {
        .row .col {
            padding-bottom: 0px;
        }
    }
    .table-common-mediano {
        min-width: 1151px;
    }
}
