﻿@using Agrobanco.SGM.MODELS.Response;
@using System.Web.Script.Serialization;
@model ListaAgencias
@{
    ViewBag.Title = "Sistema de Gestión de Mora- SGM";

    var json = new JavaScriptSerializer().Serialize(Model.lAgencias);
    string UrlBase = ViewBag.UrlBase;

}
<script type="text/javascript">
    var lAgencias = @Html.Raw(json);
</script>   
<input type="hidden" value="@UrlBase" id="UrlBase" />
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <nav class="nav-common nav-short">
            <div class="nav-wrapper">
                <div class="col s12">
                </div>
            </div>
        </nav>

        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Niveles de Mora</h1>
            </div>
        </div>

    </div>
</div>

<div class="section p-t-20 no-pad-top">
    <div class="row">
        <div class="section-border-bottom">

            <div class="input-field input-field-common col s12 m8">

                <label class="label active" for="txtOficina">Agencia</label>
                <input type="text" name="txtAgencia" id="txtAgencia" />

            </div>

            <div class="col s2 m2 l2 text-right">
                <button id="btnProcesar" class="btn waves-effect waves-light btn-default-resize"><span>Actualizar</span><i class="material-icons">configuration</i></button>
            </div>
        </div>
    </div>
</div>

<div class="card-panel s5 row layout-card-gray-2" style="margin-right: 191px;">
    <div class="row" id="usuarios-grid">


        <div class="col s6 m6 l6 table-listas offset-l3" id="table-listas" style="border: 1px solid #00000057 !important; padding-bottom: 0px; margin-bottom: 0px;">
            <div class="table-common">
                <div class="row row-title hide-on-small-only no-pad-bot" style="padding:0px; ">
                    <div class="col s12 m12">
                        <div class="col s8 m8" style="font-size:15px;">Agencia</div>
                        <div class="col s4 m4" style="font-size:15px;">Mora %</div>
                    </div>

                </div>

                <div id="det"></div>

            </div>
        </div>

    </div>
</div>



<div>
    @Html.Partial("~/Views/Shared/ModalError.cshtml")
    @Html.Partial("~/Views/Shared/ModalOK.cshtml")
    @Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.14.1/dist/xlsx.full.min.js"></script>
}
@Scripts.Render("~/Scripts/Validators.js")
@Scripts.Render("~/Scripts/Functions.js")
@Scripts.Render("~/Scripts/NivelesMora/NivelesMora.js")

